*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* 屏幕顶部 */
.screen-top{
    width: 100%;
    height: 0.4rem;
    background-color:#1448AE ;
}
.screen-top-inner{
    width: 90%;
    height: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sti-left{
    font-size: 0.24rem;
    color: white;
}
.sti-right{
    width: 2.2956rem;
}
.sti-right img{
    height: 0.4rem;
}
/* 导航头 */
.headnav{
    width: 100%;
    height: 1.6rem;
    background-color:#1448AE ;
}
.headnav-inner{
    width: 90%;
    height: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}
.headnav-inner-top{
    color: white;
    height: 0.8rem;
    display: flex;
    font-size: 0.32rem;
    align-items: center;
}
.select-des{
    margin-left: 2.2rem;
}
.headnav-inner-search{
    display: flex;
    align-items: center;
    border: 0.02rem solid #8CA4D4;
    border-radius: 0.4rem;
    height: 0.6rem;
}
.headnav-inner-search span{
    color: white;
    font-size: 0.32rem;
    margin-left: 0.2rem;
}
.headnav-inner-search input{
    border: none;
    background-color: #1448AE;
    font-size: 0.32rem;
    margin-left: 0.2rem;
    outline: none;
}

/* 主体tab */
.wrapper {
	width:100%;
	height:100%;
	margin:0 auto;
    display: flex;
	/* margin-top:0.2rem; */
}
.tab {
	border:0.02rem solid #ddd;
	border-bottom:0;
	height:100%;
    background-color:#F4F4F4 ;
    padding-top: 0.2rem;
	width:20%;
}
.tab li {
	/* float:left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height:1.5rem;
	line-height:0.68rem;
	text-align:center;
	cursor:pointer;
    background-color: #F4F4F4;
	border-top:0.08rem solid #fff;
    position: relative;
}
.tab-item img{
    width: 0.8rem;
    height: 0.8rem;
    /* margin-left: 0.3rem; */
}
/* .tab span {
	position:absolute;
	right:0;
	top:0.2rem;
	background:#ddd;
	width:0.02rem;
	height:0.28rem;
	overflow:hidden;
} */
.products {
	width:80%;
	height:100%;
    /* margin-left: 0.1rem; */
}
img {
	height:90%;
}
.products .main {
	float:left;
	display:none;
}
.products .main.selected {
	display:block;
    padding-top: 0.2rem;
}
.tab li.active {
	border-color:#F7C612;
	/* border-bottom:0; */
    background-color: white;
}

.tab-card{
    display: flex;
}
.card{
    width: 100%;
    margin-left: 0.2rem;
}
.card1{
    width: 2.5rem;
    height: 3rem;
    
}
.card1-1{
    text-align: center;
    border: 0.02rem solid silver;
    margin-bottom: 0.2rem;
}
.card1 img{
    width: 2.5rem;
    height: 2rem;
}
.card1-1-txt{
    color: black;
    width: 2.5rem;
}

/* 底部 */
.list{
    height: 1rem;
    width: 100%;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    list-style: none;
    background-color: #EDEDED;
  }
  .item{
    /* width: 20%; */
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  i{
    background-color: blue;
    width: 0.4rem;
    height: 0.4rem;
  }
  .txt{
    font-size: 0.24rem;
  }